.btn {
  border-radius: 30px;
  outline: 0;
  font-size: 15px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.main-btn {
  background-color: var(--main-blue);
  color: white;
  border: 0;
  transition: all 0.15s ease-in-out;
}
.main-btn:hover {
  background-color: #208ed1;
  transition: all 0.15s ease-in-out;
}
.secondary-btn {
  background-color: transparent;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}
